body {
    background-image: linear-gradient(to left bottom, #39c5bb, #2cc8d0, #32cbe3, #49ccf3, #66ccff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="reset"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 45%;
    margin: 10px 5px;
    display: inline-block;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

nav {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
